.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.img1 {
    width: 100%;
    display: block;
}

.product-content {
    color: #212f3d;
    margin-top: 40px;
    margin-left: 100px;
    text-align: left;
    padding: 2rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    opacity: 0.8;
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.product-price span {
    font-weight: 400;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    font-size: 20px;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    text-align: justify;
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.purchase-info {
    margin: 1.5rem 0;
    display: flex;
}


@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}