@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
   --blue: #27ae60;
   --red: tomato;
   --orange: orange;
   --black: #333;
   --white: #fff;
   --bg-color: #eee;
   --dark-bg: rgba(0, 0, 0, .7);
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   --border: .1rem solid #999;
}

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 50px;
   /* padding-bottom: 5rem; */
}

section {
   padding: 2rem;
}

.heading {
   text-align: center;
   font-size: 3.5rem;
   text-transform: uppercase;
   color: var(--black);
   margin-bottom: 2rem;
}

.btn,
.option-btn,
.delete-btn {
   display: block;
   width: 100%;
   text-align: center;
   background-color: var(--blue);
   color: var(--white);
   font-size: 1.7rem;
   padding: 1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
   background-color: var(--black);
}

.option-btn i,
.delete-btn i {
   padding-right: .5rem;
}

.option-btn {
   background-color: var(--orange);
}

.delete-btn {
   margin-top: 0;
   background-color: var(--red);
}

.message {
   background-color: var(--blue);
   position: sticky;
   top: 0;
   left: 0;
   z-index: 10000;
   border-radius: .5rem;
   padding: 1.5rem 2rem;
   margin: 0 auto;
   margin-top: 25px;
   max-width: 400px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.message span {
   font-size: 2rem;
   color: var(--white);
}

.message i {
   font-size: 2.5rem;
   color: var(--white);
   cursor: pointer;
}

.message i:hover {
   color: var(--red);
}

/* Main menu and header CSS */
#header {
   padding: 1rem 9%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #fff;
}

.logo {
   font-size: 3.5rem;
   color: var(--main-color);
   font-weight: 600;
}

.logo i {
   color: var(--main-color);
}

.logo img {
   width: 50px;
   margin-bottom: -13px;
   margin-right: 5px;
}

.navbar a {
   padding: 8px 10px;
   color: var(--secind-color);
   border-radius: 2px;
   font-weight: 500;
   letter-spacing: 1px;
   font-size: 15px;
}

.navbar a:hover {
   background: var(--main-color);
   color: #27ae60;
   border: none;
   border-radius: 25px;
}

.navButton a {
   padding: 11px 18px;
   background: var(--main-color);
   color: #fff;
   border-radius: 25px;
   font-weight: 500;
   letter-spacing: 1px;
   margin-left: 20px;
}

.navButton a:hover {
   background: var(--secind-color);
   box-shadow: 0 10px 34px rgba(0, 0, 10, 0.14);
}

#menu-btn {
   margin-left: 2rem;
   font-size: 3rem;
   cursor: pointer;
   color: var(--white);
   display: none;
}

.add-product-form {
   max-width: 50rem;
   background-color: var(--bg-color);
   border-radius: .5rem;
   padding: 2rem;
   margin: 0 auto;
   margin-top: 2rem;
}

.add-product-form h3 {
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color: var(--black);
   text-transform: uppercase;
   text-align: center;
}

.add-product-form .box {
   text-transform: none;
   padding: 1.2rem 1.4rem;
   font-size: 1.7rem;
   color: var(--black);
   border-radius: .5rem;
   background-color: var(--white);
   margin: 1rem 0;
   width: 100%;
}

.display-product-table table {
   width: 100%;
   text-align: center;
}

.display-product-table table thead th {
   padding: 1.5rem;
   font-size: 2rem;
   background-color: var(--black);
   color: var(--white);
}

.display-product-table table td {
   padding: 1.5rem;
   font-size: 2rem;
   color: var(--black);
}

.display-product-table table td:first-child {
   padding: 0;
}

.display-product-table table tr:nth-child(even) {
   background-color: var(--bg-color);
}

.display-product-table .empty {
   margin-bottom: 2rem;
   text-align: center;
   background-color: var(--bg-color);
   color: var(--black);
   font-size: 2rem;
   padding: 1.5rem;
}

.edit-form-container {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1100;
   background-color: var(--dark-bg);
   padding: 2rem;
   display: none;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
}

.edit-form-container form {
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--white);
   text-align: center;
   padding: 2rem;
}

.edit-form-container form .box {
   width: 100%;
   background-color: var(--bg-color);
   border-radius: .5rem;
   margin: 1rem 0;
   font-size: 1.7rem;
   color: var(--black);
   padding: 1.2rem 1.4rem;
   text-transform: none;
}

.products .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap: 1.5rem;
   justify-content: center;
}

.products .box-container .box {
   text-align: center;
   padding: 2rem;
   box-shadow: var(--box-shadow);
   border: var(--border);
   border-radius: .5rem;
}

.products .box-container .box img {
   height: 25rem;
}

.products .box-container .box h3 {
   margin: 1rem 0;
   font-size: 2.5rem;
   color: var(--black);
}

.products .box-container .box .price {
   font-size: 2.5rem;
   color: var(--black);
}

.shopping-cart table {
   text-align: center;
   width: 100%;
}

.shopping-cart table thead th {
   padding: 1.5rem;
   font-size: 2rem;
   color: var(--white);
   background-color: var(--black);
}

.shopping-cart table tr td {
   border-bottom: var(--border);
   padding: 1.5rem;
   font-size: 2rem;
   color: var(--black);
}

.shopping-cart table input[type="number"] {
   border: var(--border);
   padding: 1rem 2rem;
   font-size: 2rem;
   color: var(--black);
   width: 10rem;
}

.shopping-cart table input[type="submit"] {
   padding: .5rem 1.5rem;
   cursor: pointer;
   font-size: 2rem;
   background-color: var(--orange);
   color: var(--white);
}

.shopping-cart table input[type="submit"]:hover {
   background-color: var(--black);
}

.shopping-cart table .table-bottom {
   background-color: var(--bg-color);
}

.shopping-cart .checkout-btn {
   text-align: center;
   margin-top: 1rem;
}

.shopping-cart .checkout-btn a {
   display: inline-block;
   width: auto;
}

.shopping-cart .checkout-btn a.disabled {
   pointer-events: none;
   opacity: .5;
   user-select: none;
   background-color: var(--red);
}

.checkout-form form {
   padding: 2rem;
   border-radius: .5rem;
   background-color: var(--bg-color);
}

.checkout-form form .flex {
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.checkout-form form .flex .inputBox {
   flex: 1 1 40rem;
}

.checkout-form form .flex .inputBox span {
   font-size: 2rem;
   color: var(--black);
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select {
   width: 100%;
   background-color: var(--white);
   font-size: 1.7rem;
   color: var(--black);
   border-radius: .5rem;
   margin: 1rem 0;
   padding: 1.2rem 1.4rem;
   text-transform: none;
   border: var(--border);
}

.display-order {
   max-width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   text-align: center;
   padding: 1.5rem;
   margin: 0 auto;
   margin-bottom: 2rem;
   box-shadow: var(--box-shadow);
   border: var(--border);
}

.display-order span {
   display: inline-block;
   border-radius: .5rem;
   background-color: var(--bg-color);
   padding: .5rem 1.5rem;
   font-size: 2rem;
   color: var(--black);
   margin: .5rem;
}

.display-order span.grand-total {
   width: 100%;
   background-color: var(--red);
   color: var(--white);
   padding: 1rem;
   margin-top: 1rem;
}

.order-message-container {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1100;
   background-color: var(--dark-bg);
   width: 100%;
}

.order-message-container::-webkit-scrollbar {
   width: 1rem;
}

.order-message-container::-webkit-scrollbar-track {
   background-color: var(--dark-bg);
}

.order-message-container::-webkit-scrollbar-thumb {
   background-color: var(--blue);
}

.order-message-container .message-container {
   width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
}

.order-message-container .message-container h3 {
   font-size: 2.5rem;
   color: var(--black);
}

.order-message-container .message-container .order-detail {
   background-color: var(--bg-color);
   border-radius: .5rem;
   padding: 1rem;
   margin: 1rem 0;
}

.order-message-container .message-container .order-detail span {
   background-color: var(--white);
   border-radius: .5rem;
   color: var(--black);
   font-size: 2rem;
   display: inline-block;
   padding: 1rem 1.5rem;
   margin: 1rem;
}

.order-message-container .message-container .order-detail span.total {
   display: block;
   background: var(--red);
   color: var(--white);
}

.order-message-container .message-container .customer-details {
   margin: 1.5rem 0;
}

.order-message-container .message-container .customer-details p {
   padding: 1rem 0;
   font-size: 2rem;
   color: var(--black);
}

.order-message-container .message-container .customer-details p span {
   color: var(--blue);
   padding: 0 .5rem;
   text-transform: none;
}


















/* media queries  */

@media (max-width:1200px) {

   .shopping-cart {
      overflow-x: scroll;
   }

   .shopping-cart table {
      width: 120rem;
   }

   .shopping-cart .heading {
      text-align: left;
   }

   .shopping-cart .checkout-btn {
      text-align: left;
   }

}

@media (max-width:991px) {

   html {
      font-size: 55%;
   }

}

@media (max-width:768px) {

   #menu-btn {
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times {
      transform: rotate(180deg);
   }

   .header .flex .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background-color: var(--blue);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a {
      margin: 2rem;
      display: block;
      text-align: center;
      font-size: 2.5rem;
   }

   .display-product-table {
      overflow-x: scroll;
   }

   .display-product-table table {
      width: 90rem;
   }

}

@media (max-width:450px) {

   html {
      font-size: 50%;
   }

   .heading {
      font-size: 3rem;
   }

   .products .box-container {
      grid-template-columns: 1fr;
   }

}